html{
    scroll-behavior:smooth;
}
#image{
    display: flex;
    flex-direction: row;
    height: 100px;
    background-image: url(pictures/1676986568652.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#collection{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-auto-rows: 300 px;
}

#collection img{
    margin-top: 20px;
    display: flex;   
    border-radius: 20px;
    transition: transform.5s ease;
}
#collection img:hover{
    transform: scale(1.5);
}
#collection div{
    text-align: center;
}
#collection h1{
    margin-left: 470px;
    width: 500px;
    
}
body{
    position: relative;
    

}
body::before{
    content: "";
    position: absolute;
    background-image: url(bugatti/chiron.jpg);
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
body{
    margin: 0%;
}
#box{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px;
    border-color: black;
    padding: 20px;
    border-radius: 40px;
    margin: 20px;
    text-align: center;
    background-image: url(pictures/1676986568652.jpg);
    
}
 #box img{
    height: 150px;
    width: 190px;
    margin-left: 25px;
    margin-right: 25px;
}
#utility button{
    background-color: white;
    font-size: large;
    border-radius: 20px;
    width: fit-content;
}
#utility button:hover{
    font-size: 20px;
}
.yrcl
{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
@media screen and ( max-width: 600px){
      body{
        width: 1000px;
        overflow-x: hidden;
      }
      #collection{
        width: 600px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300 px;
      }
      
      .yrcl{
        width: 600px;
        font-size: 80px;
        margin-left: 200px;
      }
      #image{
        height: 200px;
        background-size: cover;
    }
    #utility button{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px;
        border-radius: 20px;
        background-color: white;
    }
    #box{
        font-size: 30px;
    }
}